{"web":{"client_id":"975991739081-5c8n19psjjfvlamkamf1suenptdhbbi7.apps.googleusercontent.com","project_id":"jarvis-435907","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"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"}}
